<!--  Auteur: Samuel Dubé
      Date de création: 2018/01/03
      Date de dernière: ******
      Description: Fichier html principal pour le projet blog
-->

<!DOCTYPE html>

<html>
    <% include partials/head %>
    <body>
        <% include partials/header %>

        <section class="container-fluid">
            <div class="row">
                <div class="col-7 mx-auto">
                    <div class="container-fluid">
                        <form action="/home/<%= blog._id %>?_method=PUT" method="POST" enctype="multipart/data">
                            <div class="form-group">
                                <label>Title</label>
                                <input class="form-control" type="text" name="blog[title]" value="<%= blog.title %>">
                            </div>
                            <div class="form-inline">
                                <div class="form-group mr-auto">
                                    <input class="form-control" type="text" name="blog[author]" value="<%= blog.author %>">
                                </div>
                                <div class="form-group">
                                    <select name="blog[cat]" class="form-control">
                                        <option selected hidden disable><%= blog.cat %></option>
                                        <option>Guide</option>
                                        <option>Recipe</option>
                                        <option>Kitchen equipement</option>
                                    </select>
                                </div>
                            </div>

                            <label>Description</label>
                            <div class="form-group">
                                <textarea rows="5" name="blog[desc]" class="form-control"><%= blog.desc %></textarea>
                            </div>

                            <label>Instructions</label>
                            <div class="form-group">
                                <textarea name="blog[inst]"><%= blog.inst %></textarea>
                                <script>
                    			    CKEDITOR.replace( 'blog[inst]' );
                    		    </script>
                            </div>

                            <hr />
                            <button type="submit" class="btn btn-outline-primary float-right"><i class="icon save"></i> Save</button>
                        </form>
                        <a href="/home/<%= blog.id %>">
                            <button class="btn btn-secondary"><i class="icon left chevron"></i> Back</button>
                        </a>
                        <button data-toggle="modal" data-target="#confirmed" class="btn btn-outline-danger float-right mr-2"><i class="icon trash"></i> Delete</button>
                    </div>
                </div>
            </div>
        </section>
        <!--Modal to confirmed delete-->
        <div class="modal fade" id="confirmed" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">You are about to delete this article !</h4>
                </div>
                <div class="modal-body">
                <div class="row px-2">
                    <button class="btn btn-outline-danger" data-dismiss="modal"><i class="icon remove"></i>Cancel</button>
                    <form action="/home/<%= blog.id %>?_method=DELETE" method="POST" class="ml-auto d-inline-block">
                        <button type="submit" class="btn btn-outline-success"><i class="icon checkmark"></i> Continue</button>
                    </form>
                </div>
            </div>
          </div>
        </div>
        <!--End Modal-->
    </body>
    <% include partials/footer %>
    <% include partials/script %>
</html>